:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 247, 250;
  --background-end-rgb: 255, 255, 255;
}

button,
a,
input {
  font-family: inherit;
  transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 14px;
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media screen and (max-width: 1024px) {
  body {
    overflow: visible;
    height: unset;
  }
}
